@font-face {
  font-family: "Helvetica Neue";
  src: url(./HelveticaNeue-Roman.woff2) format("woff2"),
    url(./HelveticaNeue-Roman.woff) format("woff"),
    url(./HelveticaNeue-Roman.ttf) format("truetype"),
    url(./HelveticaNeue-Roman.otf) format("opentype"),
    url(./HelveticaNeue-Roman.eot) format("embedded-opentype");
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url(./HelveticaNeue-Medium.woff2) format("woff2"),
    url(./HelveticaNeue-Medium.woff) format("woff"),
    url(./HelveticaNeue-Medium.ttf) format("truetype"),
    url(./HelveticaNeue-Medium.otf) format("opentype"),
    url(./HelveticaNeue-Medium.eot) format("embedded-opentype");
  font-weight: 500;
  font-display: block;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url(./HelveticaNeue-Bold.woff2) format("woff2"),
    url(./HelveticaNeue-Bold.woff) format("woff"),
    url(./HelveticaNeue-Bold.ttf) format("truetype"),
    url(./HelveticaNeue-Bold.otf) format("opentype"),
    url(./HelveticaNeue-Bold.eot) format("embedded-opentype");
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: "Helvetica Neue Italic";
  src: url(./helvetica-neue-black-condensed.ttf) format("truetype");
  font-weight: 900;
  font-display: block;
}

@font-face {
  font-family: "Helvetica Neue Condensed";
  src: url(./helvetica-neue-lt-pro-77-bold-condensed.otf) format("opentype");
  font-weight: 700;
  font-display: block;
}